<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%thread] %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="me.lightspeed7.sk8s" level="DEBUG" />
    <logger name="me.lightspeed7.sk8s" level="${LOG_LEVEL}" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
